@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F6F8FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #141D2F;
  }
}

body {
  background-color: #F6F8FF;
}
